@font-face {
  font-family: "Coconat";
  src: url("/assets/fonts/Coconat-Regular.woff2") format("woff2"),
       url("/assets/fonts/Coconat-Regular.woff") format("woff");
}

body {
  scroll-behavior: smooth;
  // cursor: none ;
  color: $dark;
  font-family: 'eesti';
  font-size: 16px;
  background: $cream;
  font-family: 'Proza Libre', sans-serif;
}

::selection {
  background-color: $dark;
  color: $cream;
}

h1 {
  font-size: 40px;
}

h1, h2, h3, h4 {
  font-family: "Proza Libre", sans-serif !important;

}

.parent {
  position: absolute;
  top:0;
  bottom: 0;
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  grid-template-rows: 90px 4fr 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent > div {
  border: 2px solid $dark;
}
.navbar {
  grid-area: 1 / 1 / 2 / 4;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: $dark;
}

.left {
  position: relative;
  right: 0;
  background: url("/assets/res/photo_3.jpeg") center;
  background-size: cover;
  border-left: none !important;
  border-bottom: none !important;
  grid-area: 2 / 1 / 3 / 2;
}

.main {
  grid-area: 2 / 2 / 4 / 3;
  border-bottom: none !important;

}

.right {
  grid-area: 2 / 3 / 4 / 4;
  border-bottom: none !important;
  border-right: none !important;
}

.footer {
  grid-area: 3 / 1 / 4 / 2;
  border-bottom: none !important;
  border-top: none !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center
;
}
.menu {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 100px;
}

.nom {
  font-size: 45px;
  margin-left: 10px;
  font-family: 'Coconat', serif !important;
  letter-spacing: -2px;
  opacity: 0;
  transform: translate(0,-20px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $dark;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main--content {
  text-justify: inter-word;
  padding: 30px 60px 30px 60px;
  line-height: 1.5;
}

h2 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 32px;
}

.right {
  text-align: justify-all;
  padding: 15px 15px 0 15px;
}

#preloaderdefou {
  background: $cream url("/assets/res/loader.svg") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  animation: loaderFade 3s;
}

@keyframes loaderFade {
  0% {
    opacity: 1;
  }
  40% {
     opacity: 0.9;
  }
  90% {
    opacity: 0.4;
  }
  92.5% {
    opacity: 0.2;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.navbar--others {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $cream;
  border-bottom: 4px solid $dark;
  width: 100%;
  transition: ease 0.4s;
  z-index: 99999;
}

.rounded {
  width: 15px;
  height: 15px;
  border: 1px solid $dark;
  border-radius: 50%;
  margin-left: -7px;
  margin-top: -7px;
}


.menu > li:hover .rounded {
  background: $cream;
}

a {
  // cursor: none;
}


.scrollerDingo {
  height: 50px;
  line-height: 50px;
  position: relative;
  overflow: hidden;
}

.scrollerDingo  > div {
  display: block;
  position: absolute;
  line-height: 50px;
  font-size:40px;
  animation-fill-mode: forwards;
  font-weight: bold;
}

.scrollerDingo >  div:nth-child(2){
  top:50px;
}

.top{
  transform: translateY(-50px);
  transition: all 1s ease-in-out;
}


.main--text {
  margin-top: 25px;
}


.studiesMain {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.studiesMain--elem {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 550px;
  height: 80vh;
  line-height: 1.5;
  text-justify: inter-word;
}

.studiesMain--elem:hover .studies--name {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 2px;
}

.studiesMain--elem > div {
  position: relative;
  left: 0 !important;
}

.studies--name {
  line-height: 40px;
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'Cormorant Garamond', serif !important;
  letter-spacing: -2px;
}


.bg--Waves{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  background-color: $dark;
  color: $cream;
}

.bg--Waves > .studiesMain--elem {

  ::selection {
    background-color: $cream;
    color: $dark;
  }

  padding-bottom: 100px;

}

.studies--location, .studies--length {
  position: absolute;
  left: 0;
}


.studies--location {
  font-size: 20px;
}

.studies--length {
  font-style: italic;
}

.studies--text {
  text-align: justify;
  margin-top: 10px;
}

.studiesMain--elem.last {
  margin-bottom: 100px;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.c-header {
  display: block;
  width: 100%;
}

.u-a5 {
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.u-b4 {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  font-weight: normal;
  color: #fff;
}

a {
  text-decoration: none;
}

.u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;
}
.u-media-wrapper.u-media-wrapper--16-9 {
  padding-bottom: 56.25%;
}

.c-gradient-overlay {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
}

.c-mouse-vertical-carousel {
  position: relative;
  overflow: hidden;
}
.c-mouse-vertical-carousel__list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.c-mouse-vertical-carousel__images {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
.c-mouse-vertical-carousel__list-item a {
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 54.1666666667%;
}
.c-mouse-vertical-carousel__eyebrow {
  position: relative;
  padding-bottom: 12px;
}
.c-mouse-vertical-carousel__eyebrow span {
  position: absolute;
  left: -30px;
  top: 2px;
}
.c-mouse-vertical-carousel__title {
  max-width: 450px;
}
.c-mouse-vertical-carousel__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}