@font-face {
  font-family: "Coconat";
  src: url("/assets/fonts/Coconat-Regular.woff2") format("woff2"),
       url("/assets/fonts/Coconat-Regular.woff") format("woff");
}

body {
  cursor: none ;
  color: $dark;
  font-family: 'eesti';
  font-size: 16px;
  background: $cream;
  font-family: 'Proza Libre', sans-serif;
}

::selection {
  background-color: $dark;
  color: $cream;
}

h1 {
  font-size: 40px;
}

h1, h2, h3, h4 {
  font-family: "Proza Libre", sans-serif !important;

}

.parent {
  position: absolute;
  top:0;
  bottom: 0;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 90px 4fr 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent > div {
  border: 2px solid $dark;
}
.navbar {
  grid-area: 1 / 1 / 2 / 4;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: $dark
}

.left {
  background: url("../../Portfolio/assets/res/photo.jpg");
  background-size: cover;
  border-left: none !important;
  border-bottom: none !important;
  grid-area: 2 / 1 / 3 / 2;
}

.main {
  grid-area: 2 / 2 / 4 / 3;
  border-bottom: none !important;

}

.right {
  grid-area: 2 / 3 / 4 / 4;
  border-bottom: none !important;
  border-right: none !important;
}

.footer {
  grid-area: 3 / 1 / 4 / 2;
  border-bottom: none !important;
  border-top: none !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center
;
}
.menu {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 100px;
}

.nom {
  font-size: 45px;
  margin-left: 10px;
  font-family: 'Coconat', serif !important;
  letter-spacing: -2px;
  opacity: 0;
  transform: translate(0,-20px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $dark;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main--content {
  text-justify: inter-word;
  padding: 30px 60px 30px 60px;
  line-height: 1.5;
}

h2 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 32px;
}

.right {
  text-align: justify-all;
  padding: 15px 15px 0 15px;
}

#preloaderdefou {
  background: $cream url("/assets/res/loader.svg") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  animation: loaderFade 3s;
}

@keyframes loaderFade {
  0% {
    opacity: 1;
  }
  40% {
     opacity: 0.9;
  }
  90% {
    opacity: 0.2;
  }
  92.5% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}

.navbar--others {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 4px solid $dark;
}

.rounded{
  width: 15px;
  height: 15px;
  border: 1px solid $dark;
  border-radius: 50%;
  margin-left: -7px;
  margin-top: -7px;
}

.menu > li:hover .rounded {
  background: $cream;
}

a {
  cursor: none;
}

.studiesMain {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 90px;
}

.studiesMain--elem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  border: 2px solid $dark;
  margin: 20px -100px 20px 0px;
}

.studiesMain--elem:nth-child(odd) {
  margin-right: 100px;
}

.scrollerDingo {
  height: 50px;
  line-height: 50px;
  position: relative;
  overflow: hidden;
}

.wrapper{

}

.scrollerDingo  > div {
  display: block;
  position: absolute;
  line-height: 50px;
  font-size:40px;
  animation-fill-mode: forwards;
  font-weight: bold;
}

.scrollerDingo >  div:nth-child(2){
  top:50px;
}

.top{
  transform: translateY(-50px);
  transition: all 1s ease-in-out;
}